<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to the most extraordinary hotel in Boston Massachusetts">
    <meta name="Keywords" content="hotel,boston hotel,new england hotel">
    <script src="https://kit.fontawesome.com/510ff8d385.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>ERROR</title>
</head>
<body>
    <p>OPP!!!! ERROR</p>
    <p>PAGE IS NOT FOUND</p>
</body>
</html>
